<!-- NAVBAR -->
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Food Finder</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="mobile.html">Sign Out</a></li>
    </ul>
  </div>
</nav>

<div class="container center-align">
  <div class="row">
    <div class="col l12 m12 s12 center-align">
      <h1 id="logo">Food Finder!</h1>
      <div class="divider"></div>
    </div>
  </div>
  <div class="row">
    <div class="col l12 m12 s12 center-align">
      <h3 id="welcome">Welcome!</h3>
      <div class="typewriter">
        <p>Food Finder is an app that helps you decide where to go when you're feeling indecisive!</p>
        <br>
        <p>Create an account or log in to see restaurants you liked or didnt like or just go straight to the map for places
          near you!</p>
      </div>
    </div>
  </div>
  <div id="user-steps" class="row">
    <div id="signIn-div" class="col l6 m6 s12">
      <img class="home-icon" src="../images/Orion_male-user-white.png" class="responsive" alt="login-icon">
      <div class="signIn">
        <button id="home-signIn" data-target="modal1" class="btn modal-trigger">Sign In</button>
      </div>
    </div>
    <div class="col l6 m6 s12">
      <img class="home-icon" src="../images/cutlery-936_a4b7b6ee-bf24-4cbd-9261-5fd5cbad2575.png" class="responsive" alt="login-icon">
      <div>
        <a href="/map" class="waves-effect waves-light btn">Get Started!</a>
      </div>
    </div>
  </div>
</div>


<!-- LOG IN MODAL -->
<div id="modal1" class="modal">
  <div class="modal-content center-align">
    <img id="signIn-logo" src="../images/Orion_male-user-white.png" class="responsive" alt="login-icon">
    <h3 class="center-align login-modal">Log In</h3>
    <div class="container">
      <div class="row">
        <form id="signin" name="signin" method="post" action="signin" class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" class="validate">
              <label class="label" for="email">Email</label>
            </div>
            <div class="input-field col s12">
              <input id="password" type="password" class="validate">
              <label class="label" for="password">Password</label>
            </div>
            <div class="input-field col s12">
              <button id="get-started" class="waves-effect waves-light btn center-align" type="submit">Log In</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="/signup" class="modal-close waves-effect waves-green btn-flat">Don't Have an account? <strong>Sign Up!</strong></a>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>