
    <!--Navigation-->
    <nav class="col s12">
        {{> navigation/nav}}
    </nav>

    
    <!--Map is set as background of whole page-->
    <div class="col s12 m12 map-shell">
        <div id="map">
            <!--Google Map generated here-->
        </div>
    </div>


    <!--location card info-->
    <div class="col s12">
        {{> locationCard/locationInfo}}
    </div>


