<div>
    
    <!--Map is set as background of whole page-->
    <div class="map-shell">
        <div id="map">
            <!--Google Map generated here-->
        </div>
    </div>

    <!--location card info-->
    {{> locationCard/locationInfo}}




    

</div>