<div>
    
    <!--Map is set as background of whole page-->
    <div class="col s12 m12 map-shell">
        <div id="map">
            <!--Google Map generated here-->
        </div>
    </div>

    <div class="col s12 m12">
        <!--location card info-->
        {{> locationCard/locationInfo}}
    </div>


</div>