<body>

    <!-- NAVBAR SECTION -->
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Food Finder</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="mobile.html">Sign Out</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="mobile.html">Sign Out</a></li>
    </ul>

    <!-- USER INFO Section -->

    <div id="profile-div" class="container">
        <h1 id="userName" class="animated zoomIn">{{user.name}}</h1>
        <div class="row">
            <div class="col l4 m12 s12 center-align">
                <img id="profile-pic" class="center-align z-depth-5 responsive-img circle animated fadeInLeftBig" src="../images/Orion_male-user-white.png" alt="profile-pic">
            </div>
            <div class="col l4 m12 s12 animated fadeInRightBig">
                <h6>Bio</h6>
                <div class="divider"></div>
                <ul id="user-info-list">
                    <li class="user-info">Username: {{user.username}}</li>
                    <li class="user-info">Birthday: 04/26/1992</li>
                    <li class="user-info">Email: {{user.email}}</li>
                    <li class="user-info">Address: 1234 Random St. Random, Rn</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col l4 m12 s12 animated fadeInUpBig">
                <!-- LIKED RESTAURANTS -->
                <h6>Liked</h6>
                <div class="divider"></div>
                <div class="collection">
                    <a href="#!" class="collection-item">Restaurant #1</a>
                    <a href="#!" class="collection-item active">Restaurant #2</a>
                    <a href="#!" class="collection-item">Restaurant #3</a>
                </div>
            </div>
            <div class="col l4 m12 s12 animated fadeInUpBig">
                <!-- DID NOT LIKE RESTAURANTS -->
                <h6>Try Later</h6>
                <div class="divider"></div>
                <div class="collection">
                    <a href="#!" class="collection-item">Restaurant #1</a>
                    <a href="#!" class="collection-item active">Restaurant #2</a>
                    <a href="#!" class="collection-item">Restaurant #3</a>
                </div>
            </div>
            <div class="col l4 m12 s12 animated fadeInUpBig">
                <!-- DID NOT LIKE RESTAURANTS -->
                <h6>Disliked</h6>
                <div class="divider"></div>
                <div class="collection">
                    <a href="#!" class="collection-item">Restaurant #1</a>
                    <a href="#!" class="collection-item active">Restaurant #2</a>
                    <a href="#!" class="collection-item">Restaurant #3</a>
                </div>
            </div>
        </div>
    </div>