/*Template overrides*/
.row{
    margin: 0!important;
}

/*Map Object*/
.map-shell{
    position: absolute;
    background-color: #fefefe;
    width:100%;
    height:100%;
}
#map{
    width: 100%;
    height: 100%;
}
/*Location information card styling*/
.card-shell{
    position: absolute;
    right: 0;
    padding: 3rem;
    background-color: rgb(0, 103, 105, 0.55);
    min-height: 100vh;
    height: 100%;
    overflow: scroll;
}
/* .top-section{
    
} */
.bottom-section{
    margin: 2rem 0;
}
.flex{
    display: flex;
}
.stats-top{
    justify-content: space-between;
}
.stats-bottom{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/*Location photo*/
.img-shell{
    background-color: grey;
    width: 100%;
    height: 300px;
    margin: 2rem 0;
}
.bottom-stats{
    display: flex;
}
.loc-address{
    margin: 2rem 0 5rem 0;
}
.cta-btns{
    margin: 3rem 0;
}
