/*Typography styles*/
/*----------------------------------------------------------*/
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: white;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: #C03305;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: white;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: white;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: white;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #585858;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: white;
}
.p-small {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #3c3c3c;
}


/*Landing page typography*/
/*----------------------------------------------------------*/
body {
    background-image: linear-gradient(to bottom, #63a791, #00676E);
    min-height: 100vh;
}
.parallax-container {
    height: 718px;
  }
.container {
    margin-top: 50px;
}
#logo {
    color: white;
    font-size: 3.2rem;
}
#welcome {
    color: white
}
#signIn-div {
    border-right: 1px solid white;
}
#signIn-logo {
    width: 75px;
    height: 75px;
}
#home-signIn {
    margin-bottom: 30px;
}
.home-icon {
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
}
.user-steps {
    margin-top: 50px;
}
#modal1 {
    background-color: #054c59;
    height: 855px;
    width: 400px;
}
.modal .modal-content {
    padding: 24px;
    height: 475px;
}


/*User Page Styling*/
/*----------------------------------------------------------*/
/* #userPage {
    background-image: linear-gradient(to bottom, #63a791, #00676E);
    height: 758px;
  } */
  
nav {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    background-color: #363836
} 
#userName {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    line-height: 32px;
    color: white
}

#profile-div {
    margin-top: 100px;
}
#profile-pic {
    width: 200px;
    height: 200px;
}
h6 {
    text-align: center;
    color: white
}
.user-info {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: white
}
.login-modal {
    color: white
}
input {
    color: white;
}
#get-started {
    color: white
}


/*Sign up page*/
/*----------------------------------------------------------*/
#signup-container {
    background-color: rgba(35, 36, 36, 0.5)
}

#signup-btn {
    margin-right: 25px;
}


/*Media Queries*/
/*----------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    #homePage {
        height: 950px
    }
} 