/*Typography styles*/
/*----------------------------------------------------------*/
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: white;
  margin: .5rem 0;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: #EDEDED;
  margin: .5rem 0;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: white;
  margin: .5rem 0;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: white;
  margin: .5rem 0;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: white;
  margin: .5rem 0;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  color: #585858;
  margin: .5rem 0;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: white;
  margin: .5rem 0;
}
.p-small {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #3c3c3c;
  margin: .5rem 0;
}


/*Landing page typography*/
/*----------------------------------------------------------*/
body {
    background-image: linear-gradient(to bottom, #63a791, #00676E);
    min-height: 100vh;
}
.parallax-container {
    height: 718px;
  }
.container {
    margin-top: 50px;
}
.brand-logo{
    padding:1.2rem !important;
}
#logo {
    width: 90%;
}
#welcome {
    color: white
}
#signIn-div {
    border-right: 1px solid white;
}
#signIn-logo {
    width: 75px;
    height: 75px;
}
#home-signIn {
    margin-bottom: 30px;
}
.home-icon {
    width: 75px;
    height: 75px;
    margin-bottom: 30px;
}
#user-steps {
    margin-top: 50px;
}

.delete {
    margin-left: 650px;
}
#modal1 {
    background-color: #054c59;
    height: 855px;
    width: 400px;
}
.modal .modal-content {
    padding: 24px;
    height: 475px;
}


/*User Page Styling*/
/*----------------------------------------------------------*/
  
nav {
    font-family: 'Roboto', sans-serif !important;
    font-size: 28px !important;
    background-color: #1e1e1e !important;
    min-height: 90px;
}

#nav-list {
    display: inline-flex;
}

#list-border {
    border-right: 1px solid white;
}

#nav-pic {
    height: 25px;
    width: 25px;
}

#findres-user {
    margin-left: 82px;
}

#userName {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    line-height: 32px;
    color: white
}

#profile-div {
    margin-top: 100px;
}
#profile-pic {
    width: 200px;
    height: 200px;
}

#bio-div {
    margin-top: 35px;
}

h6 {
    text-align: center;
    color: white
}
.user-info {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: white;
    padding: 3px;
}
.login-modal {
    color: white
}
input {
    color: white;
}
#get-started {
    color: white
}


/*Sign up page*/
/*----------------------------------------------------------*/
#signup-container {
    background-color: rgba(35, 36, 36, 0.5)
}

#signup-btn {
    margin-right: 25px;
}


/*Materialize mobile navigation custom styling*/
.sidenav{
    background-image: linear-gradient(to bottom, #63a791, #00676E);
    padding: 1rem;
}
.nav-item{
    font-size: 1.5rem;
    color: #616161;
}
.nav-item:hover{
    color: #63a791;
}
nav ul{
    padding-top: 1rem !important;
}

/*Media Queries*/
/*----------------------------------------------------------*/
@media only screen and (max-width: 600px) {
    #homePage {
        height: 950px
    }
} 