/*Typography styles*/
h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.6rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: #585858;
}
h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 2.2rem;
  line-height: 3.2rem;
  font-weight: 500;
  color: #C03305;
}
h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #2E9D73;
}
h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #00676E;
}
h5 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.4rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #230B09;
}
h6 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 3.2rem;
  font-weight: 400;
  color: #585858;
}

p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #3c3c3c;
}
.p-small {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #3c3c3c;
}