  <div class="nav-wrapper">
    {{!-- <a href="#!" class="brand-logo">Food Finder</a> --}}
    <div class="brand-logo">
      <img id="logo" src="/images/Logo-Export/Food-Finder-Logo.png" href="/">
    </div>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/logout" id="signout-btn">Sign Out</a></li>
    </ul>
  </div>

  