  <div class="nav-wrapper">
    <!--Logo area-->
    <div class="brand-logo">
      <a href="/"><img id="logo" src="/images/Logo-Export/Food-Finder-Logo.png"></a>
    </div>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <!--Navigation items below-->
    <ul class="right hide-on-med-and-down">
      <li><a href="/user/1" id="my-profile" class="waves-effect waves-teal btn-flat nav-item">My Profile</a></li>
      <li><a href="/logout" id="signout-btn">Sign Out</a></li>
    </ul>
  </div>
</div>

<!--Mobile Navigation-->
<ul class="sidenav" id="mobile-demo">
  <li class="mn-li-item">
    <button id="my-profile" class="waves-effect waves-teal btn-flat nav-item">My Profile</button>
  </li>
  <li class="mn-li-item">
    <button id="sign-out" class="waves-effect waves-teal btn-flat nav-item">Sign Out</button>
  </li>
</ul>

<script src="/js/map.js"></script>