<div class="card-shell row">
    <div class="top-section">
        <h2>The location name will go here</h2>
        <h4>Location City Here</h4>
        <div class="flex stats-top">
            <div class="col s4">
                <h6>Rating: 4.5</h6>
            </div>
            <div class="col s4">
                <h6>Price: $$$</h6>
            </div>
            <div class="col s4">
                <h6>Review Count: 14k</h6>
            </div>
        </div>
    </div>
    <div class="img-shell">
        <div id="location-img"></div>
    </div>
    <div class="flex bottom-section">
        <div class="col s6 stats-bottom">
            <h6>Currently: OPEN</h6>
            <h6>Phone#: 000.000.0000</h6>
        </div>
        <div class="col s6 flex stats-bottom">
            <span class="new badge">Southern Fusion</span>
            <span class="new badge">Tex-Mex</span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="loc-address" class="col s12">
        <h6>Location address will go here</h6>
    </div>
    <div class="cta-btns stats-bottom">
        <div class="col s6 center-align">
            <a class="waves-effect waves-light btn-large">Go now!</a>
        </div>
        <div class="col s6 center-align">
            <a class="waves-effect waves-light btn-large">Try Later</a>
        </div>
    </div>
</div>