<div class="card-shell row fit">
    <div class="top-section">
        <h2 id="rest-name">Loading location name...</h2>
        <h4 id="rest-city" >Targeting city in 3,2,1...</h4>
        <div class="divider"></div>
        <div class="flex stats-top">
            <div class="col s4" id="rest-rating">
                <h6>Rating:</h6>
            </div>
            <div class="col s4" id="rest-price">
                <h6 >Price:</h6>
            </div>
            <div class="col s4" id="rest-review">
                <h6>Review Count:</h6>
            </div>
        </div>
    </div>
    <div class="img-shell">
        <div id="location-img">
            <img id="rest-image">
        </div>
    </div>
    <div class="flex bottom-section">
        <div class="col s6 stats-bottom">
            <h6 id="rest-open"></h6>
            <h6 id="rest-phone"></h6>
        </div>
        <div class="col s6 flex stats-bottom" id="rest-type">
            <!--Badges dynamically populated here-->
        </div>
    </div>
    <div class="divider"></div>
    <div class="loc-address col s12 center-align">
        <div id="rest-address"></div>
    </div>
    <div class="cta-btns stats-bottom">
        <div class="col s6 center-align">
            <a id="refresh-location" class="waves-effect waves-light full-btn btn-large">NEXT</a>
        </div>
        <form class="col s6 center-align">
            <button id="tryLater" class="waves-effect waves-light full-btn btn-large">TRY LATER</button>
        </form>
    </div>
</div>