<div class="card-shell row fit">
    <div class="top-section">
        <h2 id="rest-name">The location name will go here</h2>
        <h4 id="rest-city" >Location City Here</h4>
        <div class="flex stats-top">
            <div class="col s4">
                <h6 id="rest-rating">Rating: 4.5</h6>
            </div>
            <div class="col s4">
                <h6 id="rest-price">Price: $$$</h6>
            </div>
            <div class="col s4">
                <h6 id="rest-review" >Review Count: 14k</h6>
            </div>
        </div>
    </div>
    <div class="img-shell">
        <div id="location-img">
            <img id="rest-image" class="responsive-img">
        </div>
    </div>
    <div class="flex bottom-section">
        <div class="col s6 stats-bottom">
            <h6 id="rest-open"></h6>
            <h6 id="rest-phone">Phone#: 000.000.0000</h6>
        </div>
        <div class="col s6 flex stats-bottom">
            <span id="rest-type-1" class="new badge">Southern Fusion</span>
            <span id="rest-type-2" class="new badge">Tex-Mex</span>
        </div>
    </div>
    <div class="divider"></div>
    <div class="loc-address" class="col s12">
        <h6 id="rest-address">Location address will go here</h6>
    </div>
    <div class="cta-btns stats-bottom">
        <div class="col s4 center-align">
            <a href="/map" class="waves-effect waves-light full-btn btn-large">NEXT</a>
        </div>
        <div class="col s4 center-align">
            <a class="waves-effect waves-light full-btn btn-large">GO NOW!</a>
        </div>
        <form id="tryLater" class="col s4 center-align">
            <button id="tryLaterButton" class="waves-effect waves-light full-btn btn-large" type="submit">TRY LATER</button>
        </form>
    </div>
</div>